<div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-8">
    <!-- <form [formGroup]="BlouseForm" ngNativeValidate> -->
        <form  ngNativeValidate>
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Back Length</label>
                    <input type="text" class="form-control" formControlName="backLength" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Full Shoulder</label>
                    <input type="text" class="form-control" formControlName="fullShoulder" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Back Neck Depth</label>
                    <input type="text" class="form-control" formControlName="backNeckDepth" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Front Neck Depth</label>
                    <input type="text" class="form-control" formControlName="frontNeckDepth" required />
                </div>
            </div>

            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Front Length</label>
                    <input type="text" class="form-control" formControlName="frontLength" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Shoulder Apex</label>
                    <input type="text" class="form-control" formControlName="shoulderApex" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Chest Around</label>
                    <input type="text" class="form-control" formControlName="chestAround" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Waist Around</label>
                    <input type="text" class="form-control" formControlName="waistAround" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Sleeve Length</label>
                    <input type="text" class="form-control" formControlName="sleeveLength" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Arm Around</label>
                    <input type="text" class="form-control" formControlName="armAround" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Sleeve Round</label>
                    <input type="text" class="form-control" formControlName="sleeveRound" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Arm Hole</label>
                    <input type="text" class="form-control" formControlName="armHole" required />
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="form-group">
                    <label class="form-label">Others</label>
                    <input type="text" class="form-control" formControlName="others" required />
                </div>
            </div>
        </div>    
        
    </form>
</div>
</div>
</div>
